.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #ae2a2a;
  padding: 20px 0;
}
.scores{
  background-color: #e3e3e3;
  padding:25px 0;
}
.scoreClass{
  font-weight: bolder;
  font-size: 20px;
  color:blue;
}
.highScoreClass{
  font-weight: bolder;
  font-size: 20px;
  color:green;
}
.lost{
  color:red;
  font-weight: bolder;
  font-size: 20px;
}
.win{
  color:green;
  font-weight: bolder;
  font-size: 20px;
}